# Import dependencies

In [1]:
import os
import pandas as pd
import datetime as dt

# Study data files

In [6]:
# ny files
ny_01_path = os.path.join("Resources","jan_2019.csv")
ny_02_path = os.path.join("Resources","feb_2019.csv")
ny_03_path = os.path.join("Resources","march_2019.csv")
ny_04_path = os.path.join("Resources","april_2019.csv")
ny_05_path = os.path.join("Resources","may_2019.csv")
ny_06_path = os.path.join("Resources","june_2019.csv")
ny_07_path = os.path.join("Resources","july_2019.csv")
ny_08_path = os.path.join("Resources","august_2019.csv")
ny_09_path = os.path.join("Resources","sept_2019.csv")
ny_10_path = os.path.join("Resources","oct_2019.csv")
ny_11_path = os.path.join("Resources","nov_2019.csv")
ny_12_path = os.path.join("Resources","dec_2019.csv")

# Read the data and study the results

In [9]:
ny_01 = pd.read_csv(ny_01_path, encoding="utf=8")
ny_02 = pd.read_csv(ny_02_path, encoding="utf=8")
ny_03 = pd.read_csv(ny_03_path, encoding="utf=8")
ny_04 = pd.read_csv(ny_04_path, encoding="utf=8")
ny_05 = pd.read_csv(ny_05_path, encoding="utf=8")
ny_06 = pd.read_csv(ny_06_path, encoding="utf=8")
ny_07 = pd.read_csv(ny_07_path, encoding="utf=8")
ny_08 = pd.read_csv(ny_08_path, encoding="utf=8")
ny_09 = pd.read_csv(ny_09_path, encoding="utf=8")
ny_10 = pd.read_csv(ny_10_path, encoding="utf=8")
ny_11 = pd.read_csv(ny_11_path, encoding="utf=8")
ny_12 = pd.read_csv(ny_12_path, encoding="utf=8")

In [10]:
ny_01

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,602,2019-12-01 00:00:05.5640,2019-12-01 00:10:07.8180,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,1
1,1206,2019-12-01 00:00:10.9630,2019-12-01 00:20:17.8820,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,1
2,723,2019-12-01 00:00:11.8180,2019-12-01 00:12:14.8310,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,1
3,404,2019-12-01 00:00:12.2200,2019-12-01 00:06:56.8860,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,1
4,1059,2019-12-01 00:00:14.7230,2019-12-01 00:17:54.1860,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,93,2019-12-31 23:58:18.0160,2019-12-31 23:59:51.6360,3141,1 Ave & E 68 St,40.765005,-73.958185,3142,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2
955206,786,2019-12-31 23:58:59.8960,2020-01-01 00:12:06.3460,490,8 Ave & W 33 St,40.751551,-73.993934,513,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1
955207,351,2019-12-31 23:59:03.6950,2020-01-01 00:04:54.8730,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368,5 Ave & 3 St,40.672816,-73.983524,27746,Subscriber,1935,2
955208,1571,2019-12-31 23:59:21.3610,2020-01-01 00:25:32.9420,252,MacDougal St & Washington Sq,40.732264,-73.998522,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1
955209,310,2019-12-31 23:59:55.2960,2020-01-01 00:05:05.7270,3351,E 102 St & 1 Ave,40.786995,-73.941648,3379,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0

In [17]:
# drop columns
i =["birth year","gender","start station latitude","start station longitude","end station latitude","end station longitude"]

ny_01=ny_01.drop(columns=i)
ny_02=ny_02.drop(columns=i)
ny_03=ny_03.drop(columns=i)
ny_04=ny_04.drop(columns=i)
ny_05=ny_05.drop(columns=i)
ny_06=ny_06.drop(columns=i)
ny_07=ny_07.drop(columns=i)
ny_08=ny_08.drop(columns=i)
ny_09=ny_09.drop(columns=i)
ny_10=ny_10.drop(columns=i)
ny_11=ny_11.drop(columns=i)
ny_12=ny_12.drop(columns=i)

In [31]:
ny_01

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,usertype
0,602,2019-12-01 00:00:05.5640,2019-12-01 00:10:07.8180,3382,Carroll St & Smith St,3304,6 Ave & 9 St,41932,Subscriber
1,1206,2019-12-01 00:00:10.9630,2019-12-01 00:20:17.8820,362,Broadway & W 37 St,500,Broadway & W 51 St,18869,Customer
2,723,2019-12-01 00:00:11.8180,2019-12-01 00:12:14.8310,146,Hudson St & Reade St,238,Bank St & Washington St,15334,Subscriber
3,404,2019-12-01 00:00:12.2200,2019-12-01 00:06:56.8860,3834,Irving Ave & Halsey St,3827,Halsey St & Broadway,41692,Customer
4,1059,2019-12-01 00:00:14.7230,2019-12-01 00:17:54.1860,500,Broadway & W 51 St,3323,W 106 St & Central Park West,40156,Subscriber
...,...,...,...,...,...,...,...,...,...
955205,93,2019-12-31 23:58:18.0160,2019-12-31 23:59:51.6360,3141,1 Ave & E 68 St,3142,1 Ave & E 62 St,28734,Subscriber
955206,786,2019-12-31 23:58:59.8960,2020-01-01 00:12:06.3460,490,8 Ave & W 33 St,513,W 56 St & 10 Ave,41418,Subscriber
955207,351,2019-12-31 23:59:03.6950,2020-01-01 00:04:54.8730,3349,Grand Army Plaza & Plaza St West,3368,5 Ave & 3 St,27746,Subscriber
955208,1571,2019-12-31 23:59:21.3610,2020-01-01 00:25:32.9420,252,MacDougal St & Washington Sq,366,Clinton Ave & Myrtle Ave,28506,Subscriber
955209,310,2019-12-31 23:59:55.2960,2020-01-01 00:05:05.7270,3351,E 102 St & 1 Ave,3379,E 103 St & Lexington Ave,21013,Subscriber

In [32]:
bikes01 = pd.DataFrame(ny_01["bikeid"].unique())
bikes02 = pd.DataFrame(ny_02["bikeid"].unique())
bikes03 = pd.DataFrame(ny_03["bikeid"].unique())
bikes04 = pd.DataFrame(ny_04["bikeid"].unique())
bikes05 = pd.DataFrame(ny_05["bikeid"].unique())
bikes06 = pd.DataFrame(ny_06["bikeid"].unique())
bikes07 = pd.DataFrame(ny_07["bikeid"].unique())
bikes08 = pd.DataFrame(ny_08["bikeid"].unique())
bikes09 = pd.DataFrame(ny_09["bikeid"].unique())
bikes10 = pd.DataFrame(ny_10["bikeid"].unique())
bikes11 = pd.DataFrame(ny_11["bikeid"].unique())
bikes12 = pd.DataFrame(ny_12["bikeid"].unique())

In [34]:
frames = [bikes01, bikes02, bikes03, bikes04, bikes05, bikes06, bikes07,
          bikes08, bikes09, bikes10, bikes11, bikes12]
bikes = pd.concat(frames).drop_duplicates().reset_index(drop=True)
bikes["location_id"] = 4
bikes.columns=["BikeID", "LocationID"]
bikes

       BikeID  LocationID
0       41932           4
1       18869           4
2       15334           4
3       41692           4
4       40156           4
...       ...         ...
19566   29296           4
19567   29441           4
19568   26200           4
19569   42088           4
19570   26422           4

[19571 rows x 2 columns]

In [ ]:
ny_01